body {
  background-color: orangered;
  margin: 0;
  font-family: 'Sawarabi Mincho', sans-serif;
  color: white;
}

.card {
  list-style: none;
  padding: 40px;
  background-color: #f4f4f4;
  color: #222;
  text-align: center;
}

.card-image {
  height: 180px;
}


.card-image:hover {
  animation: bounce .5s linear;
}

@keyframes bounce {
  20%{
    transform: translateY(-6px);
  }
  40% {
    transform: translateY(20px);
  }
  20% {
    transform: translateY(-20px);
  }
  80% {
    transform: translateY(0px);
  }
}

.card-title {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 0;
}

.crad-subtitle {
  font-weight: lighter;
  color: #666;
  margin-top: 5px;
}

#pokedex {
  padding-inline-start: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
}

.container {
  padding: 40px;
  margin: 0 auto;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #f4f4f4;
  opacity: 0.95;
  display: flex;
  justify-content: center;
  align-items: center;
}

#closeBtn {
  position: absolute;
  top: 10px;
  left: 10px;
}

button {
  background: orangered;
  color: white;
  padding: 10px 20px;
  font-size: 19px;
  border-radius: 4px;
  position: fixed;
  top: 0;
  left: 0;
}

button:hover {
  cursor: pointer;
  box-shadow: 0px 1px 2px darkred;
  transform: translateY(-1px);
}